POSTGRES_DB=iceberg
POSTGRES_USER=iceberg
POSTGRES_PASSWORD=change_me

YC_AWS_ACCESS_KEY_ID=change_me
YC_AWS_SECRET_ACCESS_KEY=change_me
YC_AWS_REGION=ru-central1
YC_S3_ENDPOINT=https://storage.yandexcloud.net
YC_S3_WAREHOUSE=s3://your-bucket-name/
